* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%); 
    font-family: 'Outfit', sans-serif;
    font-size: 15px; 
    
    /* Centrado Global */
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    
    padding: 0 15px; 
}

.qr-card-container {
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.04);
    text-align: center;
    
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.qr-image { 
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 24px; 
}

.card-content {
    padding: 0 16px;
}

.qr-card-container h2.card-title {
    font-size: 22px; 
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin-bottom: 16px; 
    line-height: 1.2; 
}

.qr-card-container p.card-text {
    font-size: 15px; 
    color: hsl(220, 15%, 55%);
    font-weight: 400; 
    line-height: 1.5; 
    margin-bottom: 24px;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 20px; 
    padding-bottom: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none; 
}
.attribution a:hover {
    text-decoration: underline; 
}